
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <my-app>Loading AppComponent content here ...</my-app>
</div>  
<div align="center">
    <div class="row">
        <div align="center" >
            <h3 class="text-info"> Quiz Generator</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-warning" ng-click="Cancel()" aria-haspopup="true" aria-expanded="false" style="width: 50%"><font size="6">Add Questions</font></button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success" ng-click="Proceed()" aria-haspopup="true" aria-expanded="false" style="width: 50%"><font size="6">Take Quiz</font></button>
        </div>
    </div>
</div>
